.main-img, img{
    margin-top: 40px;
    height: 85%;
    width: 98%;
    
}

.images{
    height: 35%;
    width: 43%;
    display: flex;
    margin: 5px;
}
.h3, h3{
    color: rgb(248, 215, 51);
    text-align: left;
    padding-top: 40px;
    padding-right: 50px;
}
.features{
    color: #e0eb4c;
    font-size: large;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
}
a{
    margin-left: 500px;
    font-size: medium;
}
.li{
    color: white;
    text-align: left;
    font-size: large;
    margin-left: 20px;
}
button{
    background-color: #f1e271;
}
.pro-dis{
    color: #d0b904;
    text-align: center;
    margin-top: 70px;
}
.p-0{
    margin-left: 60px;
    margin-right: 60px;
}
.li-text{
    color: white;
    font-size: large;
}
.smo-fal > .li-text > li{
    margin-left: 25px;
}
.li-text > p{
    color: #989352; 
    padding-top: 30px; 
    margin-right: 25px;
}
.col-md-5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding-bottom: 80px;
}
.images-2{
    width: 80%;
}